*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #8d8d8d;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #020d33;
    color: #fff;
}